/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
	/*========== COLORS ==========*/
	--body-color: var(--white-color);
	--title-color: #1d1c1c;
	--sub-title-color: #A1A1A1;
	--text-color: var(--black-color);
	--white-color: white;
	--black-color: black;

	/*========== FONT & TYPORGRAPHY ==========*/
	--body-font: 'Poppins', sans-serif;

	--bigger-font-size: 2.5rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== FONT & TYPORGRAPHY ==========*/
	--skill-rating-border: 2px solid hsl(0, 0%, 20%);
	--skill-rating-background: hsl(0, 0%, 20%);
	--skill-rating-border-radius: 5em;
	--skill-rating-progress-background-color: hsl(0, 100%, 60%);
	--skill-rating-height: .5em;
	--article-date-width: 6em;
	--article-logo-width: 4em;
	--article-logo-img-width: 4em;
	--date-gap: 0.1em;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
	:root {
		--bigger-font-size: 4.5rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*==================== BASE ====================*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-print-color-adjust: exact !important;
	/* Chrome, Safari, Edge */
	color-adjust: exact !important;
	/*Firefox*/
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	letter-spacing: .7px;
}

.counter-reset {
	counter-reset: page 1;
}

::-moz-selection {
	background: hsl(0, 50%, 80%);
	color: white;
}

::selection {
	background: hsl(0, 50%, 80%);
	color: white;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: 600;
}

ul {
	padding: 0;
}

li {
	margin-left: 2rem;
	list-style: circle;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

/*==================== LAYOUT ====================*/
.grid {
	display: -ms-grid;
	display: grid;
	gap: .75rem;
}

.container {
	max-width: 1200px;
	width: calc(100% - 3rem);
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
	padding: 2rem 0 4rem;
}

header {
	font-size: var(--h2-font-size);
	font-weight: 700;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.article-container {
	row-gap: 2rem;
}

.article__date {
	margin: .5rem 0;
}

.article__date .date {
	display: flex;
	align-items: center;
	column-gap: var(--date-gap);
}

.article__img {
	margin-top: .5rem;
	width: var(--article-logo-img-width);
}

.with-logo {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
}

.article__title {
	font-size: var(--h2-font-size);
	font-weight: 600;
	text-transform: uppercase;
}

.article__subtitle {
	font-size: var(--h3-font-size);
	font-weight: 500;
	color: var(--sub-title-color);
}

header,
.article__title {
	color: var(--title-color);
}

.article__description {
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.article__phone,
.article__mail,
.article__url {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.article__phone a,
.article__mail a,
.article__urll a,
.article__url a {
	color: var(--text-color) !important;
}

.article__list {
	margin-top: .75rem;
}

.list__label {
	color: var(--title-color);
	font-weight: 600;
	font-size: var(--h3-font-size);
}

.hide {
	display: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/*==================== HOME ====================*/
.basics {
	padding-bottom: 5rem !important;
}

.home__wrapper {
	display: -ms-grid;
	display: grid;
	row-gap: .5rem;
	margin: 2rem 0;
}

.profile__img {
	display: block;
	margin: auto;
	margin-bottom: 1.5rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.home__title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--sub-title-color);
}

.home__title,
.home__subtitle {
	text-align: center;
	text-transform: capitalize;
}

.home__description {
	text-align: center;
}


/*==================== PROFILE ICONS ====================*/
.profile-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: repeat(5, 1fr);
	grid-template-columns: repeat(5, 1fr);
	-ms-grid-column-align: center;
	place-items: center;
	row-gap: .5rem;
}

.profile__icon {
	font-size: 2rem;
}

.profile__icon i {
	color: var(--sub-title-color);
}

.skills .article-container .skill-item>* {
	margin-bottom: 0.5em;
}

.skills .article-container .skill-item>*:last-child {
	margin-bottom: 0;
}

.skills .article-container .article__title {
	display: flex;
	flex-direction: column;
	gap: var(--article-row-gap);
}

/* SKILLS */
.s-c {
	margin-top: 1rem;
	gap: .75rem;
}

.skills .article-container {
	gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
}

.skills__progress {
	gap: .25rem;
}

.article__skills-title {
	font-weight: 500;
}

.skill-rating {
	-webkit-print-color-adjust: exact;
	height: var(--skill-rating-height);
	background: hsl(0, 15%, 87%);

	overflow: hidden;
	border-radius: var(--skill-rating-border-radius);
	-moz-border-radius: var(--skill-rating-border-radius);
	-webkit-border-radius: var(--skill-rating-border-radius);
	-ms-border-radius: var(--skill-rating-border-radius);
	-o-border-radius: var(--skill-rating-border-radius);
}

.skill-rating>div {
	height: 100%;
	background-color: hsl(0, 0%, 61%);
	border-radius: var(--skill-rating-border-radius);
	-webkit-border-radius: var(--skill-rating-border-radius);
	-moz-border-radius: var(--skill-rating-border-radius);
	-ms-border-radius: var(--skill-rating-border-radius);
	-o-border-radius: var(--skill-rating-border-radius);
}

:is(.interests, .certifications, .references) .article-container {
	gap: 1rem;
}

:is(.languages, .references) .article__description {
	margin: .25rem 0 1rem;
}

.icon {
	font-style: normal;
	margin-right: 0;
	width: 0.6em;
	color: var(--icon-color);
}

.icon.twitter:before {
	content: "\f099";
}

.icon.github:before {
	content: "\f09b";
}

.icon.facebook:before {
	content: "\f39e";
}

.icon.instagram:before {
	content: "\f16d";
}

.icon.xing:before {
	content: "\f168";
}

.icon.behance:before {
	content: "\f39e";
}

.icon.dribbble:before {
	content: "\f17d";
}

.icon.medium:before {
	content: "\f23a";
}

.icon.linkedin:before {
	content: "\f08c";
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
	background: var(--sub-title-color);
	border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
	background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 43%);
}

@media print, screen and (max-width: 325px) {
	.profile-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media print, screen and (min-width: 468px) {
	.main {
		padding: 1rem;
	}
}

@media print, screen and (min-width: 768px) {
	.basics {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 2.5rem .8fr;
		grid-template-columns: 1fr .8fr;
		-webkit-column-gap: 2.5rem;
		-moz-column-gap: 2.5rem;
		column-gap: 2.5rem;
	}

	.profile__img {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		width: 280px;
	}

	.home__description {
		margin-left: 0 !important;
	}

	.home__title,
	.home__subtitle,
	.home__description {
		text-align: initial;
	}

	.article__phone,
	.article__mail,
	.article__url {
		-webkit-box-pack: initial;
		-ms-flex-pack: initial;
		justify-content: initial;
	}
}

@media print, screen and (min-width: 968px) {
	.main {
		margin: auto;
	}

	.main-wrapper {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 4.5rem .8fr;
		grid-template-columns: 1fr .8fr;
		-webkit-column-gap: 4.5rem;
		-moz-column-gap: 4.5rem;
		column-gap: 4.5rem;
	}

	.article-header {
		position: relative;
	}

	.left .article__date {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: .5rem;
		left: 0;
		top: 4px;
		max-width: 130px;
		margin: 0;
	}

	.with-logo .article__date {
		left: -122px;
	}

	.without-logo .date,
	.with-logo .date {
		align-items: initial;
	}

	.article__date,
	.duration {
		font-size: var(--small-font-size);
	}

	.article__date .date {
		flex-direction: column;
	}

	.without-logo .article__date::before,
	.with-logo .article__date::before {
		top: 29px !important;
	}

	.right .article__date {
		position: absolute;
		left: 0;
		top: -4px;
	}

	.article-container>* {
		margin-left: 25%;
	}

	.no-m>* {
		margin-left: 0;
	}

	.article__date::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 6px;
		background: var(--title-color);
	}

	.right .article__date::before {
		top: 29px;
	}

	:is(.volunteer, .education) .article__date {
		left: -108px;
	}

	.right .article__date {
		left: -100px;
	}

	.profile-container {
		place-items: initial;
		grid-template-columns: repeat(9, 1fr);
	}
}

@media print, screen and (min-width: 1024px) {
	.with-logo .article__date {
		left: -149px;
	}

	.right .article__date {
		left: -122px;
	}

	:is(.volunteer, .education) .article__date {
		left: -150px;
	}
}

@media print {
	.main {
		background-image: none;
	}

	.main-wrapper {
		grid-template-columns: none;
		max-width: none;
		margin: 0;
		gap: 0;
	}

	:is(.awards, .references, .publications) article,
	.with-header-date-logo .article__title,
	.with-header-date .article__title {
		display: initial;
	}

	.profiles,
	.basics {
		display: none;
		user-select: none;
	}

	:is(.skills, .languages, .interests) .article-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.pagedjs_margin {
		font-size: var(--print-margin-font-size);
	}

	/* main margin boxes */
	.footer-print {
		position: running(footerRunning);
	}

	.user-compact-print {
		position: running(userCompactRunning);
	}

	.last-update-print {
		position: running(lastUpdateRunning);
	}

	.available-from-print {
		position: running(availableFromRunning);
	}

	@page {
		size: A4;

		@top-right {
			content: element(lastUpdateRunning);
		}

		@top-left {
			content: element(userCompactRunning);
		}

		@bottom-right {
			content: counter(page);
		}

		@bottom-left {
			content: element(footerRunning);
			width: 40mm;
		}

		@bottom-center {
			content: element(availableFromRunning);
		}
	}

	/* table of contents */
	@page table-of-contents {
		@top-right {
			content: none;
		}

		@top-left {
			content: none;
		}

		@bottom-right {
			content: none;
		}

		@bottom-left {
			content: none;
		}
	}

	.table-of-contents {
		page: table-of-contents;
	}

	.toc-header {
		margin-bottom: 1rem;
		border-bottom: 0.375rem solid black;
	}

	ol, ul {
		padding-inline-start: 0;
	}

	ol, ul a {
		text-decoration: none;
	}

	.toc-element-level-1 {
		font-size: 0.5cm;
	}

	.toc-element-level-2 {
		font-size: 0.4cm;
	}

	.toc-element-level-1 a {
		font-weight: 600;
	}

	.toc-element-level-2 a {
		font-weight: 500;
	}

	.toc-element-level-1 a, .toc-element-level-2 a {
		color: black;
	}

	#list-toc-generated li {
		margin-left: 0;
		width: 100%;
		list-style-type: none;
	}

	#list-toc-generated .toc-element a::after {
		content: target-counter(attr(href), page);
	}

	#list-toc-generated .toc-element-level-1 {
		border-bottom: 0.0625rem solid black;
		margin-top: 2rem;
		margin-bottom: 1rem;
		padding-bottom: 0.5rem;
		font-weight: bold;
	}

	#list-toc-generated {
		overflow-x: hidden;
	}

	#list-toc-generated .toc-element a {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	#list-toc-generated .toc-element a::after {
		background-color: white;
	}

	.page-break {
		break-after: page;
	}

	/* cover */
	@page: first {

		@top-right {
			content: none;
		}

		@top-left {
			content: none;
		}

		@bottom-right {
			content: none;
		}

		@bottom-left {
			content: none;
		}
	}

	.cover-page .main-skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4mm;
	}

	.cover-page .main-skills ul {
		display: flex;
		flex-direction: row;
		gap: 0.5cm;
		margin: 0;
		padding: 0;
	}

	.cover-page .main-skills .list__label {
		font-size: var(--h1-font-size);
		text-align: center;
		font-weight: 500;
	}

	.cover-page .main-skills li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: var(--normal-font-size);
	}

	.cover-page {
		page: cover-page;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		gap: 2cm;
	}

	.cover-page__main-skills {
		display: flex;
		flex-direction: row;
	}

	.cover-page h1 {
		font-size: var(--bigger-font-size);
		font-family: var(--body-font);
	}

	.cover-page h3 {
		margin: -.75rem 0 .5rem;
		font-weight: 500;
	}

	.cover-page h1,
	.cover-page h3,
	.cover-page p,
	.cover-page .article__list,
	.cover-page .cover-page__contact,
	.cover-page .article__url,
	.cover-page__social .icon {
		-webkit-print-color-adjust: exact;
		color: black !important;
	}

	.cover-page__header {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 3mm;
		margin-top: 26rem;
	}

	.cover-page__header .profile__img {
		position: absolute;
		top: -4rem;
		left: 23%;
		width: 8cm;
		height: auto;
		border-radius: 2rem;
		-webkit-border-radius: 2rem;
		-moz-border-radius: 2rem;
		-ms-border-radius: 2rem;
		-o-border-radius: 2rem;
	}

	.cover-page__contact {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: .21cm;
		font-size: var(--smaller-font-size);
	}

	.cover-page__contact>* {
		display: flex;
		align-items: center;
	}

	.cover-page__social {
		display: flex;
		flex-direction: row;
		gap: 2em;
	}

	.cover-page__social .icon {
		font-size: 16pt;
	}

	.cover-page__header .summary {
		text-align: center;
		margin-top: 0.5em;
	}

	header {
		margin-left: -1.35rem;
	}
	.no-m{
		margin-left: -1.35rem;
	}

	/* availability */
	.available-from-print .icon {
		margin-top: 1.5mm;
		margin-left: 1.5mm;
		font-size: 2mm;
		position: absolute;
	}

	.available-from-print.now-available-yes i {
		color: green;
	}

	.available-from-print.now-available-no i {
		color: red;
	}
}

/* ======================================== INTERACTIVE ======================================== */
.INTERACTIVE .nav-add {
	margin-top: 1em;
	margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
	padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
	display: flex;
	flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
	display: inline-block;
}