/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
	/*========== COLORS ==========*/
	--body-color: var(--white-color);
	--title-color: #1d1c1c;
	--sub-title-color: #A1A1A1;
	--text-color: var(--black-color);
	--white-color: white;
	--black-color: black;

	/*========== FONT & TYPORGRAPHY ==========*/
	/* --body-font: 'Poppins', sans-serif; */
	/* --body-font: 'Times New Roman', Times, serif; */
	/* --body-font: 'Roboto', sans-serif; */
	/* --body-font: 'Readex Pro', sans-serif; */
	/* --body-font: 'Montserrat', sans-serif; */
	/* --body-font: 'Raleway', sans-serif; */

	--bigger-font-size: 2.5rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== FONT WEIGHT ==========*/
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	/*========== MARGINS ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.25rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
	:root {
		--bigger-font-size: 4.5rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*==================== BASE ====================*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	letter-spacing: .5px;
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-600);
}

ul {
	padding: 0;
}

li {
	margin-left: var(--mb-2);
	list-style: circle;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*==================== LAYOUT ====================*/
.main {
	padding: var(--mb-1);
}

.grid {
	display: -ms-grid;
	display: grid;
	gap: var(--mb-0-75);
}

.container {
	/* max-width: 968px; */
	max-width: 1024px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-700);
	margin-bottom: var(--mb-2);
	text-transform: uppercase;
}

.article-container {
	display: grid;
	row-gap: var(--mb-2);
}

.article__title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-600);
	text-transform: uppercase;
}

.article__subtitle {
	font-size: var(--h3-font-size);
	font-weight: var(--font-500);
	color: var(--sub-title-color);
}

.section__title,
.article__title {
	color: var(--title-color);
}

.article__description {
	margin-top: var(--mb-1);
	margin-bottom: var(--mb-0-5);
}

.article__phone,
.article__mail,
.article__url {
	display: flex;
	align-items: center;
	column-gap: var(--mb-1);
	justify-content: center;
}

.article__phone a,
.article__mail a,
.article__urll a,
.article__url a {
	color: var(--text-color) !important;
}
.article__list{
	margin-top: var(--mb-0-75);
}
.list__label{
	color: var(--title-color);
	font-weight: var(--font-600);
	font-size: var(--h3-font-size);
}

.hide {
	display: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/*==================== HOME ====================*/
.home__wrapper {
	margin: var(--mb-1) 0;
}

.profile__img {
	display: block;
	margin: auto;
	margin-bottom: var(--mb-1-5);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.home__title {
	font-size: var(--h2-font-size);
	color: var(--title-color);
	font-weight: var(--font-700);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--sub-title-color);
	font-weight: var(--font-500);
}

.home__title,
.home__subtitle {
	text-align: center;
	text-transform: capitalize;
}

.section__title,
.home__description {
	text-align: center;
}


/*==================== PROFILE ICONS ====================*/
.profile-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-self: center;
	row-gap: var(--mb-1-5);
}

.profile__icon {
	font-size: 2rem;
}

.profile__icon i {
	color: var(--sub-title-color);
}

.icon {
	font-style: normal;
	margin-right: 0;
	width: 0.6em;
	color: var(--icon-color);
}

.icon.twitter:before {
	content: "\f099";
}

.icon.github:before {
	content: "\f09b";
}

.icon.facebook:before {
	content: "\f39e";
}

.icon.instagram:before {
	content: "\f16d";
}

.icon.xing:before {
	content: "\f168";
}

.icon.behance:before {
	content: "\f39e";
}

.icon.dribbble:before {
	content: "\f17d";
}

.icon.medium:before {
	content: "\f23a";
}

.icon.linkedin:before {
	content: "\f08c";
}

@media print, screen and (min-width: 768px) {
	.main {
		margin: auto;
	}

	.basics,
	.main-wrapper {
		display: grid;
		grid-template-columns: 1fr .7fr;
		column-gap: var(--mb-1);
	}

	.profile__img {
		order: 1;
		width: 280px;
	}

	.home__description {
		margin-left: 0 !important;
	}

	.home__title,
	.home__subtitle,
	.section__title,
	.home__description {
		text-align: initial;
	}

	.article__phone,
	.article__mail,
	.article__url {
		justify-content: initial;
	}

	.article-header,
	.article__date {
		position: relative;
	}

	.left .article__date {
		position: absolute;
		display: flex;
		flex-direction: column;
		row-gap: var(--mb-1-5);
		left: 0;
		top: 10%;
	}

	.left :is(.article__title, .article__subtitle, .article__description, .article__list, .article__text, .article__urll) {
		margin-left: 30%;
	}

	.left .article__date::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 6px;
		background: var(--title-color);
		top: 45%;
	}

	.left li {
		margin-left: 0;
	}

	.languages {
		margin-left: 0;
	}

	.languages :is(.article__title, .article__subtitle, .article__description, .article__list, .article__text, .article__urll) {
		margin-left: 0;
	}
}